.final__card__button {
  width: 100%;
  padding: 16px 0;
  background-color: #00bc8c;
  border-radius: 5px;
  font-size: 16px;
  font-family: "OpenSans Regular", sans-serif;
  color: #fff;
  border: 1px solid #444;
  margin-top: 32px;
  cursor: pointer;
  transition: .2s ease-in;
}

.final__card__button:hover {
  background-color: #00efb2;
}
