* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #222;
  color: #fff;
}

.container {
  width: 65%;
  margin: 10px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 1200px) and (max-width: 1430px) {
  .container {
    width: 70%;
  }
}
